.notification-bg {
    background: #fff;
    min-height: 100%;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.notification-bg .form-group .custom-form-label {
    line-height: 40px;
}

.cancle-display {
    cursor: unset;
    opacity: 0.5;
}

tr td p i {
    font-size: 22px;
    line-height: 18px;
}

.tooltip-inner {
    min-width: 125px;
}

.txt_lbl,
.value_lbl {
    display: inline-block;
    vertical-align: top;
}

.red-dot-indicator,
.orange-dot-indicator {
    display: block;
    margin: 0 auto;
}