.txt-documentation {
    height: 300px;
    resize: none;
}

@media(min-width: 991px) {
    .portfolio-detail-flex {
        display: block;
    }
    .portfolio-detail-flex:after {
        content: " ";
        display: table;
        clear: both;
    }
    .portfolio-detail-flex>div:nth-child(odd) {
        float: left;
        clear: left;
    }
    .portfolio-detail-flex>div:nth-child(even) {
        float: right;
        clear: right;
    }
    .mb--150 {
        margin-bottom: -150px;
    }
    .mt-150 {
        margin-top: 150px;
    }
}

@media(max-width: 990px) {
    .portfolio-detail-flex:after {
        content: " ";
        display: table;
        clear: both;
    }
    .portfolio-detail-flex {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .order-sm-3 {
        order: 3;
    }
    .order-sm-4 {
        order: 4;
    }
    .order-sm-5 {
        order: 5;
    }
    .order-sm-6 {
        order: 6;
    }
    .order-sm-7 {
        order: 7;
    }
}

