<div class="bg-white pt-4 pb-4">
    <div class="container">
        <app-portfolio-header currentPage="details" [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute" (switchPortfolio)="switchPortfolio($event)"></app-portfolio-header>
        <form name="form" (ngSubmit)="updatePortfolioDetail(f.form.valid)" #f="ngForm" novalidate>
            <div class="mt-4 row portfolio-detail portfolio-detail-flex" id="portfolio_detail">
                <div class="col-lg-6 col-sm-12 order-sm-1 order-md-1" *ngIf="allocationResponse && currentCashPercent">
                    <app-allocation [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute" [allocationResponse]="allocationResponse" [currentCashPercent]="currentCashPercent"></app-allocation>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-2 order-md-2">
                    <div class="row">
                        <div class="col-12">
                            <app-professional-judgement [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute"></app-professional-judgement>
                        </div>
                        <div class="col-12">
                            <app-portfolio-suitability [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute" (suitabilityScoreChanged)="changeSuitabilityScore($event)"></app-portfolio-suitability>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-4 order-md-3" *ngIf="portfolioDetailResponse">
                    <app-investor [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute" (decisionMakerChanged)="ChangeDecisionMaker($event)" [portfolioDetailResponse]="portfolioDetailResponse"></app-investor>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-3 order-md-4 explanation-documentation-col" [ngClass]="{'mb--150': isEditableRoute}">
                    <app-explanation-documentation [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute"></app-explanation-documentation>
                    <div *ngIf="isEditableRoute" class="form-group" [ngClass]="{'has-error': !documentation.valid && (documentation.dirty || documentation.touched || f.submitted)}">
                        <textarea name="documentation" class="form-control txt-documentation" [(ngModel)]="portfolioDetail.documentation" #documentation="ngModel" required placeholder="No constraints identified for this portfolio."></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-5 order-md-5">
                    <app-time-horizon [timeHorizons]="timeHorizons" [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute" (timeHorizonChanged)="changeTimeHorizon($event)"></app-time-horizon>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-7 order-md-6" [ngClass]="{'mt-150': isEditableRoute}">
                    <app-linked-accounts [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute"></app-linked-accounts>
                </div>
                <div class="col-lg-6 col-sm-12 order-sm-6 order-7">
                    <app-linked-goals [clientId]="clientId" [portfolioId]="portfolioId" [isEditableRoute]="isEditableRoute"></app-linked-goals>
                </div>
            </div>
            <div class="mt-3 row" *ngIf="isEditableRoute">
                <div class="col-12">
                    <div class="form-group text-right">
                        <hr>
                        <button type="button" class="btn btn-secondary btn-fixwidth mr-2" (click)="cancelChanges()">{{ 'FORM.ACTION.CANCEL' | translate }}</button>
                        <button type="submit" [disabled]="f.form.invalid" class="btn btn-success">{{ 'FORM.ACTION.SAVE_CHANGES' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>