<div class="panel">

    <div class="d-flex flex-wrap panel-header mb-2">
        <h4 [translate]="'CLIENT_OVERVIEW.TASK_NOTIFICATION'"></h4>
        <div class="d-flex ml-auto" *ngIf="data.taskIndicatorList">
            <span class="initials btn-circle-orange ml-2 cursor-p" *ngIf="data.taskIndicatorList[1].indicatorNum > 0" ngbTooltip="System Task" placement="bottom" triggers="click" #system="ngbTooltip" (click)="manual.close();">
                {{data.taskIndicatorList[1].indicatorNum}}
            </span>
            <span class="initials btn-circle-red ml-2 cursor-p" *ngIf="data.taskIndicatorList[0].indicatorNum > 0" ngbTooltip="Manual Task" placement="bottom" triggers="click" #manual="ngbTooltip" (click)="system.close();">
                {{data.taskIndicatorList[0].indicatorNum}}
            </span>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-ellipsis table-overflow-hidden ">
            <thead>
                <tr>
                    <th colspan="3">&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of data.tasksList">
                    <td valign="middle" class="w-40px">
                        <div class="mr-1 mt-1" [ngClass]="{'orange-dot-indicator' : getStatus(task.taskType), 'red-dot-indicator' : !getStatus(task.taskType)}"></div>
                    </td>
                    <td class="w-40px">
                        <span class="mr-1 fs-22" [ngClass]="{'ion-android-checkbox-outline' : getCompletionStatus(task), 'ion-android-checkbox-outline-blank' : !getCompletionStatus(task)}" (click)="toggleClass(task)"> </span>
                    </td>
                    <td class="w-100px">{{task.targetDate | date: 'yyyy.MM.dd' }}</td>
                    <td class="w-auto">
                        <span class="" [appNoOverflowTooltip]="task.detail" triggers="manual" placement="bottom">{{task.detail}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex flex-wrap panel-footer">
        <a [routerLink]="['/client',clientId,'task-notification']" class="btn btn-link ion-arrow-right-b" [translate]="'CUSTOM.VIEW_MORE'"></a>
    </div>

</div>