<div class="bg-white pt-4 pb-4 holding-account-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-assets-header [clientId]="clientId" currentPage="holdings" [accountId]="accountId" (switchAccount)="changeAccount($event)"></app-assets-header>
            </div>
            <div class="col-12">
                <div class="d-flex flex-wrap">
                    <a [routerLink]="['product-search','']" class="btn-add">
                        <i class="ion-android-add-circle"></i>
                        <span>{{'ASSET_LIABILITY.HOLDING_ACCOUNT.ADD_HOLDING' | translate}}</span>
                    </a>
                    <div class="sort-box ml-3">
                        <i class="ion-connection-bars"></i>
                        <div class="dropdown-common mt-1 sort-dropdown">
                            <app-common-drop-down [itemList]="itemList" (OnSelect)="sortHolding($event)" dropDownLabel="SORT BY" [defaultSelected]="defaultSelected"></app-common-drop-down>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30%">{{'ASSET_LIABILITY.HOLDING_ACCOUNT.TABLE_HEADING.ASSET' | translate}}</th>
                            <th width="20%" class="text-right hidden-xs-down">{{'ASSET_LIABILITY.HOLDING_ACCOUNT.TABLE_HEADING.UNITS' | translate}} </th>
                            <th width="20%" class="text-right market-val"> {{'ASSET_LIABILITY.HOLDING_ACCOUNT.TABLE_HEADING.MARKET_VALUE' | translate}} </th>
                            <th width="20%" class="text-right pr-5"> {{'ASSET_LIABILITY.HOLDING_ACCOUNT.TABLE_HEADING.LIABILITIES' | translate}} </th>
                            <th width="5%" class="text-center">{{'ASSET_LIABILITY.HOLDING_ACCOUNT.TABLE_HEADING.ACTION' | translate}} </th>
                            <th width="5%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of holdingAssetLiability; let i = index">
                            <tr class="tdBottam-border">
                                <td width="30%">
                                    <span class="fw-700"> {{item.description}} </span>
                                </td>
                                <td width="20%" class="text-right hidden-xs-down fw-400"> {{item.units | number :"1.2-4"}} </td>
                                <td width="20%" class="text-right market-val"> {{item.fmv | currency:item.currencyCode:'symbol-narrow'}}</td>
                                <td width="20%" class="text-right pr-5">
                                    <span *ngIf="item.liability.currentBalance>0"> {{item.liability.currentBalance | currency:item.currencyCode:'symbol-narrow':'0.2-2'}}</span>
                                </td>
                                <td class="text-center" width="5%">
                                    <div class="dropdown-relative">
                                        <button class="btn-floating" (click)="changeAssetAction(i)">
                                            <span class="ion-android-more-vertical"></span>
                                        </button>
                                        <div [id]="'dropdownAssetsAction'+i" class="dropdown-portfolio-action dropdown-floating hide-ele">
                                            <ul class="floating-dropdown">
                                                <li (click)="changeAssetAction(i)">
                                                    <a [routerLink]="['product-search',item.backOfficeId]">
                                                        <i class="ion-android-search"></i>
                                                        <span> {{'ASSET_LIABILITY.HOLDING_ACCOUNT.RELINK_HOLDING' | translate}}
                                                        </span>
                                                    </a>
                                                </li>
                                                <li (click)="changeAssetAction(i)">
                                                    <a [routerLink]="">
                                                        <i class="ion-ios-information"></i>
                                                        <span>{{'ASSET_LIABILITY.HOLDING_ACCOUNT.PRODUCT_INFO' | translate}}</span>
                                                    </a>
                                                </li>
                                                <li (click)="changeAssetAction(i);deleteHolding(i,item.backOfficeId)" class="delete-btn">
                                                    <a [routerLink]="">
                                                        <i class="ion-android-cancel"></i>
                                                        <span>{{'ASSET_LIABILITY.HOLDING_ACCOUNT.DELETE_HOLDING' | translate}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center pr-0" width="5%">
                                    <i class="cursor-p" id="expand_{{item.backOfficeId}}" [ngClass]="item.isExpand?'ion-ios-arrow-up':'ion-ios-arrow-down'" (click)="toggleAssetsList(item.backOfficeId);item.isExpand=!item.isExpand"></i>
                                </td>
                            </tr>

                            <tr style="display: none" id="assetList_{{item.backOfficeId}}">
                                <td colspan="6" class="pr-0">
                                    <app-holding-detail #expand_{{item.backOfficeId}} (Change)="SavedDetail($event)" [assetLiabilityDetail]="item" [linkedClientAccount]="linkedClientAccount"></app-holding-detail>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td class="fw-600 total-text" width="30%">
                                {{'ASSET_LIABILITY.HOLDING_ACCOUNT.TOTAL' | translate}}
                            </td>
                            <td class="hidden-xs-down" width="20%">

                            </td>
                            <td class="fw-600 text-right border-top-0 total-price" width="20%">
                                <span class="fw-400"> {{total | currency:'CAD':'symbol-narrow':'0.2-2' }}</span>
                            </td>
                            <td class="fw-600 border-top-0 text-right total-price pr-5" width="20%">
                                <span class="fw-400"> {{totalLiability | currency:'CAD':'symbol-narrow':'0.2-2' }}</span>
                            </td>
                            <td class="border-top-0" width="5%">&nbsp;</td>
                            <td class="border-top-0" width="5%">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>