.client-avatars .client-icon+.client-icon {
    margin-left: -7px;
    z-index: 0;
}
.portfolio-detail-account-div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
}


