<div class="side-form">
    <div class="box">
        <div class="box-header">
            <span class="sidebar_title" [translate]="'PRODUCT_RECOMM.TITLE.ADD_FROM_FAV_LIST'"></span>
            <span (click)="back()" class="sidebar_action_icon ion-close-circled float-right"></span>
        </div>

        <div class="box-body" *ngIf="favouritesList">
            <form name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{'has-error': favourite.errors && (favourite.dirty || favourite.touched || f.submitted)}">
                    <label class="custom-form-label" [translate]="'FORM.SELECT_FAVOURITES_LIST'"></label>
                    <p-dropdown [options]="favouritesList" placeholder="Select favourite " optionLabel="descr" name="favourite" [(ngModel)]="favProduct.favourite" #favourite="ngModel" required (onChange)="getProductSearch()"></p-dropdown>
                </div>

                <div class="row">
                    <div class="col-12 mb-3" *ngIf="productList">
                        <h4 class="mb-4 fw-600" [translate]="'PRODUCT_RECOMM.TITLE.ALL_PRODUCTS'">All Products</h4>
                        <hr class="mt-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pl-3 text-left valign-bottom">{{ 'ASSET_LIABILITY.PRODUCT_SEARCH.TABLE.DESCRIPTION_LABEL' | translate }}</th>
                                        <th class="text-center valign-bottom">{{ 'ASSET_LIABILITY.PRODUCT_SEARCH.TABLE.PRICE_LABEL' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productList">
                                        <td class="fw-700">
                                            {{item.prodDescr}}
                                        </td>
                                        <td class="text-center">
                                            {{item.fmv | currency:item.curcode:'symbol-narrow':'0.2-2'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right">
                    <button (click)="back()" type="button" class="btn btn-small btn-secondary btn-fixwidth mr-2">{{ 'FORM.ACTION.CANCEL' | translate }}</button>
                    <button [disabled]="!f.form.valid" class="btn btn-small btn-success">{{ 'FORM.ACTION.ADD_PRODUCTS' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>