<div class="licence-container">
    <div class="main-container">
        <div class="licence-wrapper">
            <h1>Licence Agreement</h1>
            <p class="fw-600">USAGE AGREEMENT AND LIMITED WARRANTY</p>
            <p class="fw-600">IMPORTANT INFORMATION</p>

            <p>This Agreement between (a) you and (b) PlanPlus Inc. (PLANPLUS) governs your use of the "Services" which consist
                of PlanPlus Planit online financial planning service.</p>

            <p>You may not use the Services until you have read this Agreement and indicated your unconditional acceptance "I
                accept" button. By using the Services you confirm that you (a) have read and understood this Agreement, (b)
                accept and agree to be bound by their terms and conditions, and (c) understand that they fully set out the
                obligations of PlanPlus Inc. to you, notwithstanding any other prior or contemporaneous writing (including
                any related packaging or advertisements), promise, understanding, or oral representations made by any party
                including PlanPlus. If you do not accept the Agreement and Privacy Statement, you should terminate your use
                of the Services by clicking the "I do not accept" button.</p>

            <p>As used in this Agreement, the terms "you", "your" or "user" are synonymous, and refer to a person using the
                Services in any way. A "registered user" is a user that (a) provides PlanPlus with the required registration
                information, (b) pays PlanPlus the applicable service fee, and (c) complies with the terms and conditions
                of this Agreement.</p>

            <p class="fw-600">1. Restrictions on Use</p>
            <p>You shall not attempt to access any of PlanPlus' systems, programs, or data that are not made available for public
                use. Additionally, except as expressly permitted in this Agreement (which permission ends immediately upon
                termination or expiration of this Agreement), no material provided by, or accessed through, the Services
                may be copied, reproduced, republished, uploaded, posted, transmitted, or distributed in any way without
                PlanPlus express written permission. Modification or use of materials (in any form or medium) provided to
                you in connection with the Services for a purpose other than those expressly permitted in this Agreement
                is a violation of PlanPlus' copyright, trademark, and/or trade secret rights.</p>

            <p class="fw-600">2. Payment for Services </p>
            <p>If you decide to become a registered user, you shall be charged the Services fee in effect on the date you register.
                PlanPlus may modify the applicable fees at any time without prior notice. Your payment to PlanPlus of all
                fees and any additional applicable charges and taxes, may be made by your valid credit card, or cheque (or
                other form of payment as may be acceptable to PlanPlus in its sole discretion) and, except as otherwise provided
                herein, all fees and charges are non-refundable.</p>

            <p class="fw-600">3. Technical Support</p>
            <p>PlanPlus will provide technical support in the following ways.</p>
            <p>a) You can launch PlanPlus Planit help within any screen and it will describe the various fields on the screen
                which you are on.</p>
            <p>b) When you cannot find the help you need with our onboard help library, you may need to contact the PlanPlus
                help desk. PlanPlus standard hours for technical support are Monday to Friday from 8AM to 6PM EST. Issues
                can be reported to Client Services Department Help Desk in two ways.</p>
            <p>Telephone: (705) 324-8008</p>
            <p>E-mail: support@planplus.com</p>

            <p class="fw-600">4. Security and Data Storage</p>
            <p>You will be provided with a user name and password by e-mail once you have purchased your PlanPlus Planit. You
                are the only person authorized to use this user name and password and will have the option of changing your
                password. It is essential that you record and remember your user name and password, as PlanPlus does not
                have access to them.
            </p>
            <p>You acknowledge that PlanPlus does not control all security risks inherent in providing secure services over
                the world-wide-web. Although PlanPlus will take reasonable measures to ensure the security of information
                submitted by you in using the Services, PlanPlus does not warrant the security of information collected during
                your use of, or in performing, the Services and shall not be liable in any way for a compromise of your data.
                You agree to abide by PlanPlus' security policies as communicated by PlanPlus from time to time on www.planplus.com.</p>

            <p class="fw-600">5. Term, Renewal and Termination of Agreement</p>
            <p>The licence expiry date will be set at time of purchase, and is renewable at expiry upon payment of renewal fees.
                You will be advised within PlanPlus Planit 30 days prior to licence expiry and reminded daily until expired.
                To safeguard against losing any data, it is your responsibility to copy any documents prior to the licence
                expiry. PlanPlus will retain data for 30 days after your licence expiry and upon request from you will activate
                PlanPlus Planit for one day to allow you to copy and save documents to your local disk. After 30 days all
                data will be UNRECOVERABLE.
            </p>
            <p>Either party may terminate this Agreement if the other breaches any term. </p>


            <p class="fw-600">6. Changes and Notification</p>
            <p>PlanPlus in its discretion, or as may be required by applicable legislation or regulation, may modify, update,
                correct or discontinue any aspect or feature of the Services, including but not limited to the Services'
                content, functionality, hours of accessibility, dates which the Services will be available, Services fees,
                or the equipment needed to access or use the Services. PlanPlus will give notice of such changes by making
                them accessible via www.planplus.com. You agree that it is your responsibility to visit this web page routinely
                for such notices and to ascertain how any modifications may impact your use of, or access to, the Services.
                In its sole discretion, PlanPlus may also provide you with notice via post, e-mail or telephone. For such
                methods of notice, PlanPlus will only use your contact information as provided by you. If you choose not
                to provide contact information or do not notify PlanPlus of changes to your contact information, you acknowledge
                that PlanPlus has no responsibility or liability for any damage you may incur from your not receiving a notice
                relating to the Services. </p>

            <p>As indicated elsewhere in this Agreement, the Services' fees and security policies and Privacy Statement are
                all subject to change without notice.</p>

            <p class="fw-600">7. Disclaimer of Warranties</p>
            <p>PlanPlus provides the Services on an "as-is" basis to all users and, to the maximum extent permitted by applicable
                law, PlanPlus and its licensors, distributors, advertisers, web-link providers, dealers and suppliers (collectively,
                the "Participating Parties"), disclaim all other conditions, warranties, express or implied, regarding the
                Services and their related materials, including their fitness for a particular purpose, merchantable quality,
                title or non-infringement. PlanPlus does not warrant that the Services are free from bugs, interruptions,
                errors, or other program limitations. PlanPlus does not warrant that the www.planplus.com website, or the
                server that makes it available, is free of viruses or other harmful components. </p>

            <p class="fw-600">8. Telecommunications Failures</p>
            <p>You acknowledge that the operation and availability of the communications systems used for accessing and interacting
                with the Services (e.g. public telephone, computer networks and the world-wide-web) are unpredictable and
                may, from time to time, interfere with or prevent access to Services or their operation. PlanPlus is not
                in any way responsible for any such interference with, or the prevention of, your use of, or access to, the
                Services. You are also responsible for acquiring and maintaining all equipment, computers, software, and
                establishing and maintaining adequate access to the world-wide-web and communications services necessary
                for you to access and use the Services, and for all expenses relating thereto (plus applicable taxes). You
                (and not PlanPlus) assume the entire cost for all necessary servicing, repairs, or corrections of problems
                caused by viruses or other harmful components.</p>

            <p class="fw-600">9. Privacy Statement</p>
            <p>PlanPlus' Privacy Statement (which can be found at www.planplus.com) sets forth in full the restrictions on PlanPlus'
                use of "Personal Information" collected through the Services. Personal Information is information that can
                be used to identify or contact you (or any other natural personal) as an individual. Personal Information
                will not be disclosed by PlanPlus to any third party without your express consent except under the following
                limited circumstances: (i) to comply with a legal process such as a law, regulation, search warrant, subpoena,
                court order or law enforcement request; (ii) if there is a contractual dispute as to your use of the Services,
                related account or your account may be involved in a contravention of law; and/or (iii) if an emergency threatens
                the personal safety of users of the Site or other members of the public. PlanPlus may use your Personal Information
                to notify you of modifications to the Services and this Agreement, and to facilitate your registration for
                other PlanPlus products and services, the PlanPlus web site or any other mechanism. </p>

            <p>PlanPlus acknowledges their duty to keep all of your clients information confidential. With this in mind PlanPlus
                staff will NOT have access to your clients data.</p>

            <p>PlanPlus also may combine Personal Information to use in the aggregate (i.e., in a manner that does not identify
                any particular user) in order to improve existing products and services and develop new ones. PlanPlus provides
                its customers with the means to verify and correct (if necessary) the accuracy of their Personal Information
                as maintained by PlanPlus, as well as the ability to change or withdraw their consent to secondary uses of
                their Personal Information. If you have concerns about the accuracy of personal information collected by
                PlanPlus through the Services or wish to raise concerns relating to the collection or use of your Personal
                Information, please review the Privacy Statement for instructions on how to contact PlanPlus regarding these
                issues.
            </p>

            <p class="fw-600">10. Miscellaneous</p>
            <p>This Agreement (including any related content on the Services, such as the introductory and welcome pages, which
                by this reference are incorporated herein) and the Privacy Statement sets forth PlanPlus and its Participating
                Parties' entire liability and your exclusive remedy with respect to the Services, and is a complete statement
                of the Agreement between you and PlanPlus in connection with the Services. This Agreement does not limit
                any rights that PlanPlus may have under trade secret, copyright, patent or other laws. The employees of PlanPlus
                and its Participating Parties are not authorized to make modifications to this Agreement, or to make any
                additional representations, commitments, or warranties binding on PlanPlus, except in a writing signed by
                an authorized officer of PlanPlus. If any provision of this Agreement is invalid or unenforceable under applicable
                law, then it shall be, to that extent, deemed omitted and the remaining provisions will continue in full
                force and effect. The validity and performance of this Agreement shall be governed by the laws of the Province
                of Ontario (without reference to choice of law principles), and applicable Canadian federal law. This Agreement
                is deemed entered into at Lindsay, Ontario, and shall be construed as to its fair meaning and not strictly
                for or against either party.
            </p>

            <p class="fw-600">11. Language</p>
            <p>It is the express wish of the parties that this Agreement and all related documents be drawn up in English.</p>

            <p>All rights reserved. </p>
            <p>http://www.planplus.com</p>

        </div>
    </div>
</div>