<div class="side-form">
    <div class="box">
        <div class="box-header">
            <span class="sidebar_title">{{'DOCUMENT.GENERATE_DOCUMENT.TITLE' | translate}} </span>
            <span (click)="back()" class="sidebar_action_icon ion-close-circled float-right"></span>
        </div>

        <div class="box-body">
            <form name="form" (ngSubmit)="f.form.valid && saveDocument()" #f="ngForm" novalidate>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fileUnderType.valid }">
                    <label class="custom-form-label">{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_CATEGORY' | translate}}</label>
                    <p-dropdown (onChange)="filterDocument()" [options]="documentCategory" name="fileUnderType" [(ngModel)]="model.fileUnderType"
                        #fileUnderType="ngModel" placeholder="{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_CATEGORY_PALACEHOLDER' | translate}}"
                        optionLabel="categoryId"></p-dropdown>

                </div>
                <div *ngIf="documentList" class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedDocument && !documentList}">
                    <label class="custom-form-label">{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_DOCUMENT' | translate}}</label>
                    <div class="row" *ngIf="documentList.length>0">
                        <ng-container *ngFor="let item of documentList">
                            <div class="col-6">
                                <div class="choose-document-box">
                                    <div class="document-icon" [ngClass]="{'active' :  item.id== selectedDocument}" (click)="documentCheck(item.id)">
                                        <i class="ion-document red"></i>
                                    </div>
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="documentList.length<=0" class="row">
                        {{'DOCUMENT.GENERATE_DOCUMENT.ERROR_DOCUMENT_NOT' | translate}}
                    </div>
                </div>
                <div class="form-group" *ngIf="hasPortfolio && portfolioList && selectedDocument" [ngClass]="{ 'has-error': f.submitted && !portfolio.valid && model.portfolio }">
                    <label class="custom-form-label">{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_PORTFOLIO' | translate}}</label>
                    <p-dropdown [options]="portfolioList" name="portfolio" [(ngModel)]="model.portfolio" #portfolio="ngModel" required placeholder="{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_PORTFOLIO_PALACEHOLDER' | translate}}"
                        optionLabel="description"></p-dropdown>
                </div>
                <div class="form-group" *ngIf="documentList && selectedDocument && (hasPortfolio ? model.portfolio : !hasPortfolio )">
                    <label class="custom-form-label">{{'DOCUMENT.GENERATE_DOCUMENT.CHOOSE_SECTION_INCLUDE' | translate}}</label>
                    <table class="table clients-list-table">
                        <thead>
                            <tr>
                                <th class="dropdown-common-big-text">
                                    <app-common-drop-down [itemList]="itemList" (OnSelect)="pageSelect($event)" [defaultSelected]="defaultSelected"></app-common-drop-down>
                                </th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>

                        <tbody *ngIf="templatePagesList">
                            <tr *ngFor="let item of templatePagesList;">
                                <td>
                                    {{item.id}}
                                </td>
                                <td class="text-right fw-500">
                                    <span class="mr-1 fs-22" [ngClass]="{'ion-android-checkbox-outline' : item.selected, 'ion-android-checkbox-outline-blank' : !item.selected}"
                                        (click)="(item.selected=!item.selected);changeTemplateNone();"> </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group" *ngIf="documentList && selectedDocument && (hasPortfolio ? model.portfolio : !hasPortfolio )">
                    <div class="d-flex flex-wrap selectall">
                        <span (click)="selectPage(true)" class="mr-auto">
                            <i class="ion-android-checkbox-outline mr-2"></i>{{'FORM.SELECT_ALL' | translate}}
                        </span>
                        <span (click)="selectPage(false)">
                            <i class="ion-android-checkbox-outline-blank mr-2"></i>{{'FORM.SELECT_NONE' | translate}}
                        </span>
                    </div>
                </div>
                <!-- <div class="form-group" *ngIf="!hasPortfolio && documentList"    [ngClass]="{ 'has-error': f.submitted && !templateName.valid }">
                    <label class="custom-form-label">{{ 'FORM.ACTION.SAVETEMPLATE' | translate}}</label>
                    <input type="text" class="form-control small" name="templateName" [(ngModel)]="model.templateName" #templateName="ngModel"/>
                </div> -->
                <div class="form-group text-right">
                    <button (click)="back()" type="button" class="btn btn-small btn-secondary mr-2">{{ 'FORM.ACTION.CANCEL' | translate }}</button>
                    <button *ngIf="selectedDocument && (hasPortfolio ? model.portfolio : !hasPortfolio )" [disabled]="loading || !f.form.valid "
                        class="btn btn-small btn-success">{{ 'FORM.ACTION.GENERATE' | translate }}</button>
                </div>
            </form>
            <form *ngIf="selectedDocument && (hasPortfolio ? model.portfolio : !hasPortfolio )" name="formTemplate" (ngSubmit)="formTemplate.form.valid && SaveTemplate()"
                #formTemplate="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': formTemplate.submitted && !templateName.valid }">
                    <label class="custom-form-label">{{'DOCUMENT.GENERATE_DOCUMENT.TEMPLATE_NAME' | translate}}</label>
                    <input type="text" class="form-control" name="templateName" [(ngModel)]="model.templateName" pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$"
                        #templateName="ngModel" required />
                </div>
                <div class="form-group text-right">
                    <button [disabled]="loading || !formTemplate.form.valid" class="btn btn-small btn-success">{{ 'FORM.ACTION.SAVETEMPLATE' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>