.no-gutters {margin-left: 0px !important; margin-right: 0px !important;}

@media (min-width: 320px) {
    .main-container {padding-left: 10px; padding-right: 10px;}

    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
        min-width: 300px;
        max-width: inherit;
    }

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-left: 10px;
        padding-right: 10px;
    }

    .overview-main .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .overview-main .col-1, .overview-main .col-2, .overview-main .col-3, .overview-main .col-4, .overview-main .col-5, .overview-main .col-6, .overview-main .col-7, .overview-main .col-8, .overview-main .col-9, .overview-main .col-10, .overview-main .col-11, .overview-main .col-12, .overview-main .col, .overview-main .col-auto, .overview-main .col-sm-1, .overview-main .col-sm-2, .overview-main .col-sm-3, .overview-main .col-sm-4, .overview-main .col-sm-5, .overview-main .col-sm-6, .overview-main .col-sm-7, .overview-main .col-sm-8, .overview-main .col-sm-9, .overview-main .col-sm-10, .overview-main .col-sm-11, .overview-main .col-sm-12, .overview-main .col-sm, .overview-main .col-sm-auto, .overview-main .col-md-1, .overview-main .col-md-2, .overview-main .col-md-3, .overview-main .col-md-4, .overview-main .col-md-5, .overview-main .col-md-6, .overview-main .col-md-7, .overview-main .col-md-8, .overview-main .col-md-9, .overview-main .col-md-10, .overview-main .col-md-11, .overview-main .col-md-12, .overview-main .col-md, .overview-main .col-md-auto, .overview-main .col-lg-1, .overview-main .col-lg-2, .overview-main .col-lg-3, .overview-main .col-lg-4, .overview-main .col-lg-5, .overview-main .col-lg-6, .overview-main .col-lg-7, .overview-main .col-lg-8, .overview-main .col-lg-9, .overview-main .col-lg-10, .overview-main .col-lg-11, .overview-main .col-lg-12, .overview-main .col-lg, .overview-main .col-lg-auto, .overview-main .col-xl-1, .overview-main .col-xl-2, .overview-main .col-xl-3, .overview-main .col-xl-4, .overview-main .col-xl-5, .overview-main .col-xl-6, .overview-main .col-xl-7, .overview-main .col-xl-8, .overview-main .col-xl-9, .overview-main .col-xl-10, .overview-main .col-xl-11, .overview-main .col-xl-12, .overview-main .col-xl, .overview-main .col-xl-auto {padding-left: 10px; padding-right: 10px; } 
}

@media (min-width: 576px) {

    .main-container {padding-left: 20px; padding-right: 20px;}

    .container-fluid {
        padding-right: 12px;
        padding-left: 12px;
    }

    .container {
        padding-right: 12px;
        padding-left: 12px;
        min-width: 552px;
        max-width: inherit;
    }

    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-left: 12px;
        padding-right: 12px;
    }

    .overview-main .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .overview-main .col-1, .overview-main .col-2, .overview-main .col-3, .overview-main .col-4, .overview-main .col-5, .overview-main .col-6, .overview-main .col-7, .overview-main .col-8, .overview-main .col-9, .overview-main .col-10, .overview-main .col-11, .overview-main .col-12, .overview-main .col, .overview-main .col-auto, .overview-main .col-sm-1, .overview-main .col-sm-2, .overview-main .col-sm-3, .overview-main .col-sm-4, .overview-main .col-sm-5, .overview-main .col-sm-6, .overview-main .col-sm-7, .overview-main .col-sm-8, .overview-main .col-sm-9, .overview-main .col-sm-10, .overview-main .col-sm-11, .overview-main .col-sm-12, .overview-main .col-sm, .overview-main .col-sm-auto, .overview-main .col-md-1, .overview-main .col-md-2, .overview-main .col-md-3, .overview-main .col-md-4, .overview-main .col-md-5, .overview-main .col-md-6, .overview-main .col-md-7, .overview-main .col-md-8, .overview-main .col-md-9, .overview-main .col-md-10, .overview-main .col-md-11, .overview-main .col-md-12, .overview-main .col-md, .overview-main .col-md-auto, .overview-main .col-lg-1, .overview-main .col-lg-2, .overview-main .col-lg-3, .overview-main .col-lg-4, .overview-main .col-lg-5, .overview-main .col-lg-6, .overview-main .col-lg-7, .overview-main .col-lg-8, .overview-main .col-lg-9, .overview-main .col-lg-10, .overview-main .col-lg-11, .overview-main .col-lg-12, .overview-main .col-lg, .overview-main .col-lg-auto, .overview-main .col-xl-1, .overview-main .col-xl-2, .overview-main .col-xl-3, .overview-main .col-xl-4, .overview-main .col-xl-5, .overview-main .col-xl-6, .overview-main .col-xl-7, .overview-main .col-xl-8, .overview-main .col-xl-9, .overview-main .col-xl-10, .overview-main .col-xl-11, .overview-main .col-xl-12, .overview-main .col-xl, .overview-main .col-xl-auto {padding-left: 10px; padding-right: 10px; } 
}

@media (min-width: 768px) {
    .container-fluid {
        padding-right: 12px;
        padding-left: 12px;
    }

    .container {
        padding-right: 12px;
        padding-left: 12px;
        min-width: 774px;
        max-width: inherit;
    }

    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-left: 12px;
        padding-right: 12px;
    }

    .overview-main .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .overview-main .col-1, .overview-main .col-2, .overview-main .col-3, .overview-main .col-4, .overview-main .col-5, .overview-main .col-6, .overview-main .col-7, .overview-main .col-8, .overview-main .col-9, .overview-main .col-10, .overview-main .col-11, .overview-main .col-12, .overview-main .col, .overview-main .col-auto, .overview-main .col-sm-1, .overview-main .col-sm-2, .overview-main .col-sm-3, .overview-main .col-sm-4, .overview-main .col-sm-5, .overview-main .col-sm-6, .overview-main .col-sm-7, .overview-main .col-sm-8, .overview-main .col-sm-9, .overview-main .col-sm-10, .overview-main .col-sm-11, .overview-main .col-sm-12, .overview-main .col-sm, .overview-main .col-sm-auto, .overview-main .col-md-1, .overview-main .col-md-2, .overview-main .col-md-3, .overview-main .col-md-4, .overview-main .col-md-5, .overview-main .col-md-6, .overview-main .col-md-7, .overview-main .col-md-8, .overview-main .col-md-9, .overview-main .col-md-10, .overview-main .col-md-11, .overview-main .col-md-12, .overview-main .col-md, .overview-main .col-md-auto, .overview-main .col-lg-1, .overview-main .col-lg-2, .overview-main .col-lg-3, .overview-main .col-lg-4, .overview-main .col-lg-5, .overview-main .col-lg-6, .overview-main .col-lg-7, .overview-main .col-lg-8, .overview-main .col-lg-9, .overview-main .col-lg-10, .overview-main .col-lg-11, .overview-main .col-lg-12, .overview-main .col-lg, .overview-main .col-lg-auto, .overview-main .col-xl-1, .overview-main .col-xl-2, .overview-main .col-xl-3, .overview-main .col-xl-4, .overview-main .col-xl-5, .overview-main .col-xl-6, .overview-main .col-xl-7, .overview-main .col-xl-8, .overview-main .col-xl-9, .overview-main .col-xl-10, .overview-main .col-xl-11, .overview-main .col-xl-12, .overview-main .col-xl, .overview-main .col-xl-auto {padding-left: 10px; padding-right: 10px; } 
}

@media (min-width: 992px) {

    .main-container {padding-left: 40px; padding-right: 40px;}

    .container-fluid {
        padding-right: 22px;
        padding-left: 22px;
    }

    .container {
        padding-right: 22px;
        padding-left: 22px;
        min-width: 948px;
        max-width: inherit;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-left: 15px;
        padding-right: 15px;
    }


    .overview-main .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .overview-main .col-1, .overview-main .col-2, .overview-main .col-3, .overview-main .col-4, .overview-main .col-5, .overview-main .col-6, .overview-main .col-7, .overview-main .col-8, .overview-main .col-9, .overview-main .col-10, .overview-main .col-11, .overview-main .col-12, .overview-main .col, .overview-main .col-auto, .overview-main .col-sm-1, .overview-main .col-sm-2, .overview-main .col-sm-3, .overview-main .col-sm-4, .overview-main .col-sm-5, .overview-main .col-sm-6, .overview-main .col-sm-7, .overview-main .col-sm-8, .overview-main .col-sm-9, .overview-main .col-sm-10, .overview-main .col-sm-11, .overview-main .col-sm-12, .overview-main .col-sm, .overview-main .col-sm-auto, .overview-main .col-md-1, .overview-main .col-md-2, .overview-main .col-md-3, .overview-main .col-md-4, .overview-main .col-md-5, .overview-main .col-md-6, .overview-main .col-md-7, .overview-main .col-md-8, .overview-main .col-md-9, .overview-main .col-md-10, .overview-main .col-md-11, .overview-main .col-md-12, .overview-main .col-md, .overview-main .col-md-auto, .overview-main .col-lg-1, .overview-main .col-lg-2, .overview-main .col-lg-3, .overview-main .col-lg-4, .overview-main .col-lg-5, .overview-main .col-lg-6, .overview-main .col-lg-7, .overview-main .col-lg-8, .overview-main .col-lg-9, .overview-main .col-lg-10, .overview-main .col-lg-11, .overview-main .col-lg-12, .overview-main .col-lg, .overview-main .col-lg-auto, .overview-main .col-xl-1, .overview-main .col-xl-2, .overview-main .col-xl-3, .overview-main .col-xl-4, .overview-main .col-xl-5, .overview-main .col-xl-6, .overview-main .col-xl-7, .overview-main .col-xl-8, .overview-main .col-xl-9, .overview-main .col-xl-10, .overview-main .col-xl-11, .overview-main .col-xl-12, .overview-main .col-xl, .overview-main .col-xl-auto {padding-left: 10px; padding-right: 10px; } 

}

@media (min-width: 1200px) {

    .container-fluid {
        padding-right: 24px;
        padding-left: 24px;
    }

    .container {
        padding-right: 24px;
        padding-left: 24px;
        min-width: 1152px;
        max-width: 1548px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
        padding-left: 15px;
        padding-right: 15px;
    }


    .overview-main .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .overview-main .col-1, .overview-main .col-2, .overview-main .col-3, .overview-main .col-4, .overview-main .col-5, .overview-main .col-6, .overview-main .col-7, .overview-main .col-8, .overview-main .col-9, .overview-main .col-10, .overview-main .col-11, .overview-main .col-12, .overview-main .col, .overview-main .col-auto, .overview-main .col-sm-1, .overview-main .col-sm-2, .overview-main .col-sm-3, .overview-main .col-sm-4, .overview-main .col-sm-5, .overview-main .col-sm-6, .overview-main .col-sm-7, .overview-main .col-sm-8, .overview-main .col-sm-9, .overview-main .col-sm-10, .overview-main .col-sm-11, .overview-main .col-sm-12, .overview-main .col-sm, .overview-main .col-sm-auto, .overview-main .col-md-1, .overview-main .col-md-2, .overview-main .col-md-3, .overview-main .col-md-4, .overview-main .col-md-5, .overview-main .col-md-6, .overview-main .col-md-7, .overview-main .col-md-8, .overview-main .col-md-9, .overview-main .col-md-10, .overview-main .col-md-11, .overview-main .col-md-12, .overview-main .col-md, .overview-main .col-md-auto, .overview-main .col-lg-1, .overview-main .col-lg-2, .overview-main .col-lg-3, .overview-main .col-lg-4, .overview-main .col-lg-5, .overview-main .col-lg-6, .overview-main .col-lg-7, .overview-main .col-lg-8, .overview-main .col-lg-9, .overview-main .col-lg-10, .overview-main .col-lg-11, .overview-main .col-lg-12, .overview-main .col-lg, .overview-main .col-lg-auto, .overview-main .col-xl-1, .overview-main .col-xl-2, .overview-main .col-xl-3, .overview-main .col-xl-4, .overview-main .col-xl-5, .overview-main .col-xl-6, .overview-main .col-xl-7, .overview-main .col-xl-8, .overview-main .col-xl-9, .overview-main .col-xl-10, .overview-main .col-xl-11, .overview-main .col-xl-12, .overview-main .col-xl, .overview-main .col-xl-auto {padding-left: 10px; padding-right: 10px; } 
}