<div class="side-form">
    <div class="box">
        <div class="box-header">
            <span class="sidebar_title" [translate]="'DOCUMENT.RENAME_DOCUMENT'"></span>
            <span (click)="back()" class="sidebar_action_icon ion-close-circled float-right"></span>
        </div>

        <div class="box-body">
            <form name="form" (ngSubmit)="f.form.valid && renameDocument()" #f="ngForm" novalidate>

                <div class="form-group">
                    <label class="custom-form-label" [translate]="'FORM.OLD_DOCUMENT_NAME'"> </label>
                    <p class="pl-3" *ngIf="document">
                        {{document.name}}
                    </p>
                </div>

                <div class="form-group" [ngClass]="{'has-error': !new_document.valid && (new_document.dirty || new_document.touched || f.submitted)}">
                    <label class=custom-form-label [translate]="'FORM.NEW_DOCUMENT_NAME'"></label>
                    <input type="text" class="form-control" name="new_document" [(ngModel)]="doc.new_document" #new_document="ngModel" required myNoSpaces />
                </div>

                <div class="form-group">
                    <button [disabled]="!f.form.valid" class="btn btn-small btn-success">{{ 'FORM.ACTION.SAVE_CHANGES' | translate }}</button>
                    <button (click)="back()" type="button" class="btn btn-small btn-secondary btn-fixwidth mr-2">{{ 'FORM.ACTION.CANCEL' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>