<div ngbDropdown class="dropdown-common prod_sub_dropdown">
    <a class="text-uppercase" id="dropdownBasic1" ngbDropdownToggle>
        <span class="pr-1 selected-text fs-14 fw-600">{{selectedProduct.prod_code}}</span>
        <i class="ion-arrow-down-b"></i>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <table class="table tbl_prod_code">
            <thead>
                <tr>
                    <th class="icon_wrapper"></th>
                    <th>{{ 'ASSET_LIABILITY.PRODUCT_SEARCH.TABLE.PRODUCTCODE_LABEL' | translate }}</th>
                    <th>{{ 'ASSET_LIABILITY.PRODUCT_SEARCH.TABLE.CODE_TYPE' | translate }}</th>
                    <th>{{ 'ASSET_LIABILITY.PRODUCT_SEARCH.TABLE.FEE_TYPE' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productCodeList" (click)="getSlected(item)">
                    <ng-container>
                        <td class="icon_wrapper">
                            <i *ngIf="item.prodsub===selectedProduct.prodsub" class="ion-checkmark-round"></i>
                        </td>
                        <td>{{item.prod_code}}</td>
                        <td>{{item.prodsub}}</td>
                        <td></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>