h4 a {
    position: relative;
}

h4 a i {
    width: 20px;
    left: -25px;
    height: 20px;
    padding: 2px 4px;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background: #88aa33;
}

i.current-edit {
    background: #fff !important;
    font-size: 20px !important;
    line-height: 20px !important;
    color: #88aa33 !important;
}

h5 {
    font-size: 13px;
    color: #789;
    font-weight: 400;
}

@media(min-width:576px) {
    .text-left-large {
        text-align: left;
    }
}