<div>
    <h6 class="fw-700" [translate]="'PORTFOLIO.DETAIL.ALLOCATION'"></h6>
    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <h5>
                {{'PORTFOLIO.DETAIL.CURRENT' | translate}}                
                <ng-container *ngIf="currentCashPercent === 100">
                    <span class="ion-android-alert" [ngbTooltip]="keyCurrentWarning" #currentWarning="ngbTooltip" triggers="manual" placement="bottom" (click)="currentWarning.open()"></span>
                    <ng-template #keyCurrentWarning>
                        <p>
                            The following accounts have assets allocated 100% to Cash. If this is not intended, the variance calculated for this portfolio will be inaccurate. To correct this, you may allocate holdings for each account on the Planning > Assets & Liabilities > Holdings
                            page", include list of applicable accounts with Cash = 100%, i.e.:
                        </p>
                        <ul>
                            <li *ngFor="let item of allocationResponse.warnings[0].detailItems" >
                                {{item}}
                            </li>
                        </ul>
                        <p class="text-right m-0 p-0">
                            <button class="btn btn-secondary btn-small m-0" (click)="currentWarning.close()" [translate]="'RISK_RESULTS_PAGE.WARNING.CLOSE'"></button>
                        </p>
                    </ng-template>
                </ng-container>
            </h5>
            <div id="currentPieChart" style="height:200px; width: 200px; display: inline-block;"></div>
            <div class="row">
                <div class="col-6">
                    <h4 class="ml-3 text-left-large" *ngIf="currentCashPercent === 100">
                        <a [routerLink]="['edit-current']" class="fs-12">
                            <i class="current-edit ion-pie-graph"></i>
                            <span [translate]="'PORTFOLIO.ACTION.EDIT_CURRENT'"></span>
                        </a>
                    </h4>
                </div>
                <div class="col-6">
                    <h4>
                        <a [routerLink]="['analytics','current']" class="fs-12">
                            <i class="action_icon ion-ios-pulse"></i>
                            <span [translate]="'PORTFOLIO.ACTION.ANALYTICS'"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <h5>Target</h5>
            <div id="targetPieChart" style="height:200px; width: 200px; display: inline-block;"></div>
            <div class="row">
                <div class="col-6">
                    <h4>
                        <a [routerLink]="['edit-policy']" class="fs-12" [ngClass]="{'disabled-link' : !isEditableRoute}">
                            <i class="action_icon ion-ribbon-b"></i>
                            <span [translate]="'PORTFOLIO.ACTION.EDIT_POLICY'"></span>
                        </a>
                    </h4>
                </div>
                <div class="col-6">
                    <h4 class="mr-3 text-right">
                        <a [routerLink]="['analytics','target']" class="fs-12">
                            <i class="action_icon ion-ios-pulse"></i>
                            <span [translate]="'PORTFOLIO.ACTION.ANALYTICS'"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>