<div class="bg-white pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h4 class="mb-1">
                    <a [routerLink]="['/client',clientId,'profile']" [translate]="'BREADCRUMB.CLIENT_PROFILE'"></a> /
                </h4>
                <h1 [translate]="'RISK_TOLERANCE_PAGE.TITLE'"></h1>
            </div>
            <div class="col-md-6 col-12 text-right dropdown-right">
                <app-profile-module-drop-down [clientId]="clientId"></app-profile-module-drop-down>
            </div>
        </div>
        <div class="row">

            <div class="col-12">
                <table class="table top-border">
                    <thead>
                        <tr>
                            <th [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.FAMILY_MEMBER'"></th>
                            <th class="hidden-md-down" [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.INVITE_SENT'"></th>
                            <th class="hidden-md-down" [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.LAST_UPDATE'"></th>
                            <th class="hidden-xs-down" [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.QUESTIONNAIRE'"></th>
                            <th [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.RISK_TOLERANCE'"></th>
                            <th class="text-center w-50px" [translate]="'RISK_TOLERANCE_PAGE.TABLE.HEADING.ACTIONS'"></th>
                        </tr>
                    </thead>

                    <tbody *ngIf="familyMembersRisk">
                        <tr *ngFor="let member of familyMembersRisk; let i = index">
                            <td>
                                <app-member-avatar [firstName]="member.firstName" [lastName]="member.lastName" [relationClass]="member.btnColor" avatarClass="initials" [avatarUrl]="">
                                </app-member-avatar>
                                <span>{{member.firstName + ' ' + member.lastName}}</span>
                            </td>
                            <td class="hidden-md-down">
                                <div *ngIf="member.memberRisk; else notInvited">
                                    {{member.memberRisk['inviteSentDate'] | date:'yyyy.MM.dd'}}
                                </div>
                                <ng-template #notInvited>N/A</ng-template>
                            </td>
                            <td class="hidden-md-down">
                                <div *ngIf="member.memberRisk; else notCompleted">
                                    <div *ngIf="member.memberRisk['completedDate'] !== null; else ansPending">
                                        {{member.memberRisk['completedDate'] | date:'yyyy.MM.dd'}}
                                    </div>
                                    <ng-template #ansPending>
                                        {{'RISK_TOLERANCE_PAGE.TABLE.PENDING' | translate}}
                                        <span class="ion-android-alert" *ngIf="member.memberRisk['isPending']"></span>
                                    </ng-template>
                                </div>
                                <ng-template #notCompleted>N/A</ng-template>
                            </td>
                            <td class="hidden-xs-down">
                                <div *ngIf="member.memberRisk; else questionnaireElse">
                                    {{member.memberRisk['questionnaireType']}}
                                </div>
                                <ng-template #questionnaireElse>N/A</ng-template>
                            </td>
                            <td>
                                <div *ngIf="member.memberRisk; else tbdRiskTolerance" class="tolerance-box">
                                    <span class="tolerance-number">
                                        {{member.memberRisk['calculatedScore']}}
                                    </span>
                                    <button type="button" class="tolerance-text">{{riskGroup[member['memberRisk']['calculatedRiskGroup']]}}</button>
                                </div>
                                <ng-template #tbdRiskTolerance><span class="tbd-lbl">TBD</span></ng-template>
                            </td>
                            <td class="text-center pr-0  w-50px">
                                <div class="dropdown-relative">
                                    <button class="btn-floating" (click)="changeRiskAction(i)">
                                        <span class="ion-android-more-vertical"></span>
                                    </button>
                                    <div [id]="'dropdownRiskAction'+i" class="dropdown-risk-action dropdown-floating hide-ele">
                                        <ul class="floating-dropdown">
                                            <li *ngIf="member.relation !== 1" (click)="changeRiskAction(i)">
                                                <a [routerLink]="[member.id, 'send-invitation']">
                                                    <i class="ion-android-send"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.SEND_INVITE'"></span>
                                                </a>
                                            </li>
                                            <li *ngIf="member.relation === 1">
                                                <button class="btn-floating" (click)="changeQuestionnaire(i); changeRiskAction(i);">
                                                    <i class="ion-android-send"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.SEND_INVITE'"></span>
                                                </button>
                                            </li>
                                            <li (click)="changeRiskAction(i)">
                                                <a [routerLink]="[member.id, 'send-reminder']">
                                                    <i class="ion-android-notifications"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.SEND_REMINDER'"></span>
                                                </a>
                                            </li>
                                            <li (click)="changeRiskAction(i)">
                                                <a [routerLink]="['/client',clientId,'coming-soon']">
                                                    <i class="ion-unlocked"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.UNLOCK_RESET'"></span>
                                                </a>
                                            </li>
                                            <li (click)="changeRiskAction(i)">
                                                <a [routerLink]="['/client',clientId,'coming-soon']">
                                                    <i class="ion-android-clipboard"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.COMPLETE_QUEST'"></span>
                                                </a>
                                            </li>
                                            <li (click)="changeRiskAction(i)">
                                                <a [routerLink]="['/client',clientId,'coming-soon']">
                                                    <i class="ion-android-exit"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.EXTERNAL_SOURCE'"></span>
                                                </a>
                                            </li>
                                            <li *ngIf="member.memberRisk" (click)="changeRiskAction(i)">
                                                <a [routerLink]="[member.id,'results']">
                                                    <i class="ion-eye"></i>
                                                    <span [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.VIEW_RESULTS'"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div [id]="'dropdownQuestionnaire'+i" class="dropdown-floating hide-ele">
                                        <div class="floating-dropdown">
                                            <h6 [translate]="'RISK_TOLERANCE_PAGE.TABLE.ACTIONS.SEND_INVITE'"></h6>
                                            <div class="floating-body">
                                                <form name="form" #f="ngForm" novalidate>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" name="optradio" id="optradio1">
                                                        <label class="form-check-label" for="optradio1">FinaMetrica 12</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" name="optradio" id="optradio2">
                                                        <label class="form-check-label" for="optradio2">FinaMetrica 25</label>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form-group text-right mb-0">
                                                <button class="btn btn-secondary btn-small" (click)="changeQuestionnaire(i);" [translate]="'FORM.ACTION.CANCEL'"></button>
                                                <a class="btn btn-success btn-small" [routerLink]="[member.id, 'send-invitation']" (click)="changeQuestionnaire(i);" [translate]="'FORM.ACTION.SEND'"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="view-side-form">
    <router-outlet></router-outlet>
</div>