<div class="bg-white pt-4 pb-4 assets-summary-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-assets-header [clientId]="clientId" currentPage="savings" [accountId]="accountId" (switchAccount)="changeAccount($event)"></app-assets-header>
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
                <div>
                    <a [routerLink]="['add-savings']" class="btn-add ">
                        <i class="ion-android-add-circle"></i>
                        <span [translate]="'ASSETS_SUMMARY.ACTION.ADD_SAVINGS'"></span>
                    </a>
                </div>
                <div class="d-flex flex-wrap mb-0 hidden-xs-down">

                    <div class="sort-dropdown ml-0">
                        <app-common-drop-down [itemList]="viewBy" [defaultSelected]="selectedViewBy" dropDownLabel="{{'VIEW_BY_DROPDOWN' | translate}}"
                            (OnSelect)="displayViewBy($event)"></app-common-drop-down>
                    </div>
                    <div class="sort-box ml-auto">
                        <i class="ion-connection-bars"></i>
                        <div class="sort-dropdown">
                            <app-common-drop-down class="dropdown-right" [itemList]="sortBy" [defaultSelected]="selectedSortBy" dropDownLabel="{{'SORT_BY_DROPDOWN' | translate}}"></app-common-drop-down>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <h4 *ngIf="allSavings.length == 0" [translate]="'SAVINGS.NO_SAVINGS_ADDED'">
            </h4>
            <div class="col-12" *ngIf="allSavings.length > 0">
                <app-savings-list-html [clientId]="clientId" [accountId]="accountId" [allSavings]="allSavings" [sortBy]="sortBy" [selectedSortBy]="selectedSortBy"
                    [selectedViewBy]="selectedViewBy"></app-savings-list-html>
            </div>
        </div>
    </div>
</div>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>